// classic

:root {
  --header-background: #f6f8fa;
  --body-background: #fff;
  --border-color: #d0d7de;
  --footer-background: #f6f8fa;
  --footer-color: #000;
  --card-header-background: #f6f8fa;
  --button-background: #f3f4f6;
  --tag-background: rgb(56 139 253 / 30%);
  --tag-color: #0969da;
  --text-color: #24292f;
  --icon-color: #57606a;
}
