// classic

:root {
  --header-background: #F6F8FA;

  --body-background: #FFFFFF;
  --border-color: #D0D7DE;

  --footer-background: #F6F8FA;
  --footer-color: #000;
  --card-header-background: #F6F8FA;
  --button-background: #F3F4F6;

  --tag-background: rgba(56, 139, 253, 0.3);
  --tag-color: #0969DA;

  --text-color: #24292F;
  --icon-color: #57606A;
}
