// dark

:root {
  --header-background: #161B22;
  --body-background: #0D1117;
  --border-color: #30363D;
  --footer-background: #161B22;
  --footer-color: #fff;
  --card-header-background: #161B22;
  --button-background: #21262D;
  --tag-background: rgba(56, 139, 253, 0.3);
  --tag-color: #FFFFFF;
  --text-color: #fff;
  --icon-color: rgba(255, 255, 255, 0.3);
}
